<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>{% block title %}{% endblock%}</title>
  <link rel="stylesheet" href="/static/app.css">
</head>

<body>
  <h1 id="logo">
    <a href="/">Pets</a>
		<!-- {% block nav %}| <a href="/users">Users</a> | <a href="/tags">Tags</a>{% endblock %} -->
	</h1>

	<h2>{% block h2 %}{% endblock%}</h2>

  <main id="content">
		{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class="messages">
      {% for category,msg in messages %}
      <p class="{{category}}">{{msg}}</p>
      {% endfor  %}
    </section>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>
</body>

</html>